.btn {
    display: inline-block;
    padding : 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-block {
    width : 100%;
}
@each $index, $color in $colors {
    .btn-#{$index} {
        background-color: $color;
        border-color: $color;
        @if $index == "sunFlower" or $index == "clouds" or $index == "silver" {
            color: #000000;
        } @else {
            color: #ffffff;
        }
    }
    .btn-#{$index}:hover {
        background-color: darken($color, 10%);
        border-color: darken($color, 10%);
    }
    .btn-#{$index}:focus,
    .btn-#{$index}.focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($color, 0.3);
    }

    .btn-outline-#{$index} {
        color: $color;
        border-color: $color;
    }
    .btn-outline-#{$index}:hover {
        @if $index == "sunFlower" or $index == "clouds" or $index == "silver" {
            color: #000000;
        } @else {
            color: #ffffff;
        }
        background-color: $color;
        border-color: $color;
    }
    .btn-outline-#{$index}:focus,
    .btn-outline-#{$index}.focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($color, 0.3);
    }
}
